---
---

@import "{{ site.theme }}";


/* Make link color purple and cyan upon hover */
.wrapper section {
  a {
    color: #7c58c7 !important;
    &:hover {
      color: #53c2ae !important;
      font-weight: bold;
    }
  }
}

#main_content {
  a {
    color: #7c58c7 !important;
    &:hover {
      color: #53c2ae !important;
      font-weight: bold;
    }
  }
}

ul li a {
  color: #7c58c7 !important;
  &:hover {
    color: #53c2ae !important;
    font-weight: bold;
  }
}

/* Override the repository button color */
#header nav ul li.fork a {
  background: #908f91 !important;
  color: #fff !important;
  border-color: #908f91 !important;
  text-shadow: none !important;
}

#header nav ul li.fork a:hover {
  background: #6b6b6b !important;
  border-color: #6b6b6b !important;
}
