---
---

@import "{{ site.theme }}";

.wrapper section {
  a {
    color: #8A2BE2 !important;
    &:hover {
      color: #9370DB !important;
      font-weight: bold;
    }
  }
}

#main_content {
  a {
    color: #8A2BE2 !important;
    &:hover {
      color: #9370DB !important;
      font-weight: bold;
    }
  }
}

ul li a {
  color: #8A2BE2 !important;
  &:hover {
    color: #9370DB !important;
    font-weight: bold;
  }
}
