---
---

@import "{{ site.theme }}";


/* Make link color purple and cyan upon hover */
.wrapper section {
  a {
    color: #7c58c7 !important;
    &:hover {
      color: #53c2ae !important;
      font-weight: bold;
    }
  }
}

#main_content {
  a {
    color: #7c58c7 !important;
    &:hover {
      color: #53c2ae !important;
      font-weight: bold;
    }
  }
}

ul li a {
  color: #7c58c7 !important;
  &:hover {
    color: #53c2ae !important;
    font-weight: bold;
  }
}

/* Override the repository button color */
#header nav ul li.fork a,
#header nav ul li.fork a:link,
#header nav ul li.fork a:visited,
.fork a,
.fork a:link,
.fork a:visited {
  background-color: #908f91 !important;
  background: #908f91 !important;
  border-color: #908f91 !important;
  color: #7c58c7 !important;
  text-shadow: none !important;
  -webkit-text-fill-color: #7c58c7 !important;
}

#header nav ul li.fork a:hover,
.fork a:hover {
  background-color: #4b4b4b !important;
  background: #4b4b4b !important;
  border-color: #4b4b4b !important;
  color: #53c2ae !important;
  -webkit-text-fill-color: #53c2ae !important;
}
